body {
	background-color: #f1f1f1;
}

.people-panel {
	background-color: #00a0e9 !important;
	color: #ffffff;
}
.people-panel h1 {
	font-size: 10.5em;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
}

.panel-title h5 {
	padding-left: 10px;
	margin-bottom: 0px;
}

.panel-body {
	padding-top: 0px;
}

.panel-card {
	box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.25);
	background-color: white;
}

.container h1 {
    text-align: center;
}

/*START: STYLESHEETS FOR VIS CHARTS*/

/*STYLESHEETS FOR SENSOR MEMORY*/
.axis path,
.axis line {
    fill: none;
    stroke: #f3f3f3;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: .7em;
    color: #a0a0a0;
}

.areaM {
    fill: rgba(0, 160, 233, 0.7);
}

.memtipPoints {
    stroke: white;
    stroke-width: 2px;
    opacity: 0;
    fill: #00a0e9;
}

.tipDot {
    stroke: black;
    stroke-width: 0.5px;
}

/*STYLESHEETS FOR SENSOR DOCKER ISSUES*/
.panel-checkbox {
    background-color:#eaf8ff; 
    top:14px; 
    padding-left:15px; 
    padding-right: 0px;
    padding-top: 4px;
    margin-bottom: 5px;
    height:348px;
    /*max-width: 10em;*/
}
.panel-checkbox text {
    font-size: .8em;
    fill: #000000;
    margin-left: .5em;
}
.panel-checkbox p {
    font-size: .8em;
    fill: #000000;
}
.panel-checkbox input {
    margin-top: 3px;
    padding-top: 2px;
}

.panel-checkbox-xs {
    background-color:#eaf8ff; 
    margin-top: 10px;
    margin-left: 24px;
    margin-right: 10px; 
    padding: 4px;
    /*max-width: 10em;*/
}
.panel-checkbox-xs text {
    font-size: .8em;
    fill: #000000;
    margin-left: .5em;
}
.panel-checkbox-xs p {
    font-size: .8em;
    fill: #000000;
}
.panel-checkbox-xs input {
    margin-top: 2px;
}

.scatter_checkbox text{
    font-size: .3em;
}

.legendRect {
    stroke: #aaabb1;
    stroke-width: 1px;
    fill: none;
}

.scatter_circle {
    stroke: none;
}

/*STYLESHEETS FOR SENSOR CPU*/
.donutCenterText {
    font-size: 1.5em;
    font-weight: bold;
}

/*STYLESHEETS FOR SENSOR NETWORK*/
.areaU {
    fill: rgba(0, 160, 233, 0.2);
}

.areaD {
    fill: rgba(34, 172, 56, 0.2);
}

.tipPoints {
    stroke: white;
    stroke-width: 2px;
    opacity: 0;
}

.tipNetPoints {
    stroke: white;
    stroke-width: 2px;
    opacity: 0;
}

.tipDot {
    stroke: black;
    stroke-width: 0.5px;
}

/*STYLESHEETS FOR SENSOR DISK*/
.areaR {
    fill: rgba(0, 160, 233, 0.2);
}

.areaW {
    fill: none;
    stroke: rgba(0, 160, 233, 1);
    stroke-width: 2px;
}

/*STYLESHEETS FOR SENSOR PEOPLE MONITOR*/
.monitorCircle {
    fill: #222;
    stroke: #000;
    stroke-width: 0em;
}

.moniOutlineArc {
    fill: none;
    stroke: gray;
    stroke-width: 1;
}

/*STYLESHEETS FOR SENSOR TIMELINE CHART*/
.timeRect {
  	opacity: 1;
}

.innertimeRect {
    fill: rgba(0, 160, 233, 0.8);
}
.outertimeRect {
    fill: rgba(0, 160, 233, .2);
}

/*STYLESHEETS FOR SENSOR DETECTION AND LATENCY MONITOR*/
.outlineAsterArc {
    fill: none;
    stroke: #f3f3f3;
}

.solidAsterArc {
    stroke: none;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.solidAsterArc:hover {
    fill: orangered ;
}

.asterCenterText {
    font-size: .6em;
    text-anchor: middle;
}

/*STYLESHEETS FOR DOCKER CPU*/
.dockerCpuText {
    font-size: 3.8em;
    font-weight: bold;
    fill: #7d7d7d;
}

/*STYLESHEETS FOR DOCKER MEMORY*/
.areaDM {
    fill: rgba(0, 160, 233, 0.7);
}

.memtipDPoints {
    stroke: white;
    stroke-width: 2px;
    opacity: 0;
    fill: #00a0e9;
}

/*STYLESHEETS FOR 3D POPULATION GLOBE*/
.panel-globe {
    background-color: black;
    color: white;
}

/*STYLESHEETS FOR SENSOR COUNTING CHART*/
.countRemainPath {
    fill: none;
}

.countInBar {
    fill: none;
    stroke: rgba(0, 160, 233, 1);
    stroke-width: 2px;
}

.countOutBar {
    fill: none;
    stroke: rgba(0, 233, 160, 1);
    stroke-width: 2px;
}

.tipCountPoints {
    stroke-width: 2px;
    opacity: 1;
    fill: #41DB00;
    stroke: white;
}

/*END: STYLESHEETS FOR VIS CHARTS*/